{% load static %}
<script src="{% static 'app.js' %}"></script>
{% if error_message %}
    <p><strong>{{ error_message }}</strong></p>
{% endif %}
        <div>
            <form action="preview/" method="post">
                {% csrf_token %}
                <label for="result">Your text will appear here: </label>
                <input id="result" type="text" name="result"><br>
                <input type="submit" value="Preview">
            </form>
            <div id= 'record'>
                    <button onclick="startConverting()" class='btn btn-info btn-sm' id="re">record</button>
            </div>
        </div>




